.header {
    position: sticky;
    z-index: 50;
    top: 0;

    width: 100%;
    margin: 0 auto;

    background-color: var(--background);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: clamp(1rem, 5vw, 1.5rem);
    padding-bottom: clamp(1rem, 5vw, 1.5rem);
    border-bottom: 1px solid var(--border);
}

.logo {
    font-size: clamp(1.25rem, 5vw, 1.5rem);
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: -0.05em;
}

.links {
    display: flex;
    gap: 2rem;
}

.link {
    cursor: pointer;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: var(--text-secondary);

    transition: color var(--transition);
}

.link:hover {
    color: var(--primary);
}

@media (width <= 767px) {
    .links {
        gap: 1rem;
    }
}
